{{ $alreadyRendered := .Scratch.Get "schemaRendered" }}
{{ if not $alreadyRendered }}
  {{ .Scratch.Set "schemaRendered" true }}

  {{ $iso8601 := "2006-01-02T15:04:05-07:00" }}
  {{ $home := site.GetPage "/" }}

  {{ if .IsHome -}}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "@id": "{{ $home.Permalink | safeURL }}",
      "name": "{{ .Site.Title | safeJS }}",
      {{ with .Site.Params.description }}"description": "{{ . | safeJS }}",{{ end }}
      {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
      "url": "{{ $home.Permalink | safeURL }}",
      {{ with .Site.Params.keywords }}"keywords": {{ . }},{{ end }}
      "publisher" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Author.name | safeJS }}"
      }
    }
    </script>

  {{ else if .IsPage }}
    <script type="application/ld+json">
    [{
      "@context": "https://schema.org",
      "@type": "Article",
      "articleSection": "{{ .Section | title | safeJS }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
      {{ with .Summary }}"abstract": "{{ . | safeJS }}",{{ end }}
      {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
      "url" : "{{ .Permalink }}",
      "author" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Author.name | safeJS }}"
      },
      {{ with .PublishDate }}"copyrightYear": "{{ .Format "2006" }}",{{ end }}
      {{ with .Date }}"dateCreated": "{{ .Format $iso8601 }}",{{ end }}
      {{ with .PublishDate }}"datePublished": "{{ .Format $iso8601 }}",{{ end }}
      {{ with .ExpiryDate }}"expires": "{{ .Format $iso8601 }}",{{ end }}
      {{ with .Lastmod }}"dateModified": "{{ .Format $iso8601 }}",{{ end }}
      {{ if .Keywords }}
        {{ with .Keywords }}"keywords": {{ . }},{{ end }}
      {{ else }}
        {{ with .Params.tags }}"keywords": {{ . }},{{ end }}
      {{ end }}
      "mainEntityOfPage": "true",
      "wordCount": "{{ .WordCount }}"
    }]
    </script>
  {{ end }}

{{ end }}
